{% extends "layout.html" %}
{% block body %}
<div id="main" class="container">

    <table class="table table-bordered">
    <div class="control-group">
      <a href="{{ url_for('new') }}" class="btn btn-primary">New Todo</a>
    </div>
    <thead>
      <tr>
        <th>Id
        <th>Todo Item
        <th>Created
        <th>Action
      </tr>
      <tbody>
      {%- for todo in todos %}
      <tr class={{ "success" if todo.done }}>
        <td><a href="/todos/{{ todo.id }}">{{ todo.id }}</a></td>
        <td style={{ "text-decoration:line-through" if todo.done }}>{{ todo.content }}</td>
        <td>{{ todo.created_at.strftime('%Y-%m-%d %H:%M') }}</td>
        <td><a href="{{ url_for('todos/{{ todo.id }}') }}" class="btn btn-primary">Edit</a></td>
      {%- endfor %}

    </tr>
    </tbody>
    </table>
    <p>
      
 
 
</div>
{% endblock %}