{% extends "layout.html" %}
{% block body %}
  <form action="" method=post class="form-inline">
    <h1>Update To Do</h1>
    <input type="text" id="content" name="content" class="input-xlarge"
            placeholder="Todo item" value="{{ todo.content }}"
            required>
 
  
    <input type=checkbox name=done.{{ todo.id }}{{ " checked" if todo.done }}>
        
 
    <button type="submit" class="btn btn-success">Update Todo</button>
    <a href="{{ url_for('index') }}">Back to list</a>
        
  </form>
{% endblock %}